doctype html
html(lang="en")
  head
      title= login
      link(rel='stylesheet', href='/stylesheets/login.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round')
  body
      #wrapper
          #box
              h1 skål
              form(method='post')
                  input(
                    placeholder='login'
                    name='login'
                  )
                  input(
                    placeholder='password'
                    name='password'
                    type='password'
                  )
                  button login
